# --- Research ---
/Research/*
!/Research/C2S_Research.tex

# --- Report ---
/Report/*
!/Report/main.tex
!/Report/style.sty
!/Report/Chapters/
!/Report/Ref/

# --- Testing ---
/Testing/**/*.png
# !/Testing/**/
# !/Testing/**/*.csv
# !/Testing/**/*.xlsx

# --- Software (C2Sv0.1 and C2Sv1) ---

!/Software/C2Sv[01]*/
/Software/C2Sv[01]*/*

# Configuration Files
!/Software/C2Sv*/.cproject
!/Software/C2Sv*/.mxproject
!/Software/C2Sv*/.project
!/Software/C2Sv*/C2Sv[01]*.ioc
!/Software/C2Sv*/*.ld

# Drivers
!/Software/C2Sv*/Drivers/
/Software/C2Sv*/Drivers/*
!/Software/C2Sv*/Drivers/Custom/
!/Software/C2Sv*/Drivers/Custom/*/

# Core / Source
!/Software/C2Sv*/Core/
/Software/C2Sv*/Core/*

!/Software/C2Sv*/Core/Inc/
/Software/C2Sv*/Core/Inc/*
!/Software/C2Sv*/Core/Inc/main.h
!/Software/C2Sv*/Core/Inc/app_threadx.h
!/Software/C2Sv*/Core/Inc/stm32u5xx_it.h

!/Software/C2Sv*/Core/Src/
/Software/C2Sv*/Core/Src/*
!/Software/C2Sv*/Core/Src/main.c
!/Software/C2Sv*/Core/Src/app_threadx.c
!/Software/C2Sv*/Core/Src/stm32u5xx_it.c

!/Software/C2Sv*/Core/Startup/
/Software/C2Sv*/Core/Startup/*

!/Software/C2Sv*/Core/Startup/startup_*.[sS]